.button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-weight: 600;
  padding: 2rem;
  text-transform: uppercase;
  transition: var(--hover-transtion);
  width: 100%;
}

.button:hover {
  filter: var(--hover-color-change);
}
