.list {
  background-color: rgb(var(--background-secondary-rgb));
  width: 100%;
}

.list li {
  align-items: center;
  border-bottom: var(--border-light);
  display: flex;
  justify-content: center;
  padding: var(--list-item-padding);
  text-align: center;
  width: 100%;
}
.list li:first-of-type {
  border-top: var(--border-light);
}

.list li .answerContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  max-width: 20rem;
  width: 100%;
}

.list li span {
  text-transform: uppercase;
}

.list li span.result {
  font-weight: var(--font-weight-medium);
}
