:root {
  --background-rgb: 255, 255, 255;
  --background-secondary-rgb: 252, 253, 255;
  
  --border-rgb: 241, 249, 255;
  --border-scroll-rgb: 194, 228, 253;

  --border: 2px solid rgb(var(--border-rgb));

  --font-weight-medium: 500;
  --font-weight-bold: 600;

  --foreground-rgb: 37, 153, 251;
  --foreground-disabled-rgb: 206, 206, 206;

  --hover-transtion: 0.1s all ease-in-out;
  --hover-color-change: brightness(85%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  height: 100dvh;
}

ol {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  max-height: -moz-available;
  max-height: -webkit-fill-available;
  overflow-x: hidden;
  scroll-behavior: auto;
  height: fit-content;
}

/* Custom scroll style */
ol::-webkit-scrollbar {
  width: 0.5rem; 
}
ol::-webkit-scrollbar-track {
  background: rgb(var(--border-rgb));
  border: 0.1rem solid rgb(var(--border-scroll-rgb));
  border-radius: 10rem;
}
ol::-webkit-scrollbar-thumb {
  background-color: rgb(var(--foreground-rgb));
  border: 0.1rem solid rgb(var(--foreground-rgb));
  border-radius: 10rem;
}

/* Heading style */
h1 {
  font-size: 3rem;
  font-weight: var(--font-weight-bold);
  text-transform: capitalize;
}
h2 {
  font-size: 1.1rem;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}