section.wrapper {
  display: grid;
  height: 100%;

  grid-template-areas:
    "heading"
    "list"
    "footer";
}

section.wrapper .headingContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  grid-area: heading;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

section.wrapper ol {
  grid-area: list;
}

section.wrapper footer {
  align-self: end;
  grid-area: footer;
  height: 6rem;
}

li.listHeading {
  display: flex;
  flex-direction: column;
}

li.listHeading > span {
  font-weight: var(--font-weight-medium);
  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;
}
