section.wrapper {
  display: grid;
  height: 100%;

  grid-template-areas:
    "heading"
    "list"
    "footer";
}

section.wrapper .headingContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  grid-area: heading;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

section.wrapper ol {
  grid-area: list;
}

section.wrapper footer {
  align-self: end;
  grid-area: footer;
  height: 6rem;
}

/* Only outermost list scrolls */
section.wrapper > ol {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  max-height: 70dvh;
  overflow-x: hidden;
  scroll-behavior: auto;
}

/* Custom scroll style */
section.wrapper ol::-webkit-scrollbar {
  width: 0.5rem; 
}
section.wrapper ol::-webkit-scrollbar-track {
  background: rgb(var(--border-rgb));
  border: 0.1rem solid rgb(var(--border-scroll-rgb));
  border-radius: 10rem;
}
section.wrapper ol::-webkit-scrollbar-thumb {
  background-color: rgb(var(--foreground-rgb));
  border: 0.1rem solid rgb(var(--foreground-rgb));
  border-radius: 10rem;
}

li.listHeading {
  display: flex;
  flex-direction: column;
}

li.listHeading > span {
  font-weight: var(--font-weight-medium);
  padding: var(--list-item-padding);
  text-align: center;
  text-transform: uppercase;
}
