section.wrapper {
  display: grid;
  height: 100%;

  grid-template-rows: 1fr min-content;
  grid-template-areas:
    "heading"
    "question";
}

section.wrapper .headingContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  grid-area: heading;
  justify-content: space-evenly;
  padding: 2rem;
}

section.wrapper .question {
  align-self: end;
  grid-area: question;
}
