.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.footer a {
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
}

.footer a.disabled {
  color: rgb(206, 206, 206);
  pointer-events: none;
}

.footer a:hover {
  filter: brightness(85%);
}
