.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.footer a {
  text-transform: uppercase;
  transition: var(--hover-transtion);
}

.footer a.disabled {
  color: rgb(var(--foreground-disabled-rgb));
  pointer-events: none;
}

.footer a:hover {
  filter: var(--hover-color-change);
}
