.question .textContainer {
  align-items: center;
  background-color: rgb(var(--background-secondary-rgb));
  border-top: var(--border-dark);
  border-bottom: var(--border-dark);
  display: flex;
  padding: 3rem 4rem;
}

.question .buttonContainer {
  display: flex;
  flex-direction: row;
}
