.list {
  align-items: center;
  background-color: rgb(var(--background-secondary-rgb));
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.list > li:first-of-type {
  border-top: var(--border);
}

.list li .answerContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}

.list li > span {
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  padding: 1rem 2rem;
}
