.list {
  align-items: center;
  background-color: rgb(var(--background-secondary-rgb));
  display: flex;
  flex-direction: column;
  text-align: center;
}

.list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.list > li:first-of-type {
  border-top: var(--border);
}

.list li .answerContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  width: 20rem;
}

.list li span {
  text-transform: uppercase;
}
