.list {
  background-color: rgb(var(--background-secondary-rgb));
}

.list li {
  border-bottom: var(--border);
  padding: 1rem 2rem;
  text-align: center;
}
.list li:first-of-type {
  border-top: var(--border);
}

.list li a {
  text-transform: uppercase;
  transition: var(--hover-transtion);
}

.list li a:hover {
  filter: var(--hover-color-change);
}

.list li a.disabled {
  color: rgb(var(--foreground-disabled-rgb));
  pointer-events: none;
}
