.list {
  background-color: rgb(var(--background-secondary-rgb));
}

.list li {
  border-bottom: var(--border-light);
  padding: var(--list-item-padding);
  text-align: center;
}

.list li:first-of-type {
  border-top: var(--border-light);
}

.list li a {
  text-transform: uppercase;
  transition: var(--hover-transtion);
}

.list li a:hover {
  filter: var(--hover-color-change);
}

.list li a.disabled {
  color: rgb(var(--foreground-disabled-rgb));
  pointer-events: none;
}
